@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
body{
    background-color: grey;
}

header{
    background-color: black;
    color: white;
}

header > h1{
    text-transform: capitalize;
    font-family: var(--fonte2);
    text-align: center;
    font-size: 10vw;
    padding: 50px;
    padding-bottom: 1px;
    
}
header > p {
    text-align: center;
    padding-bottom: 50px;
    font-family: var(--fonte1);
    font-size: medium;
}
a{
    font-family: var(--fonte1);
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    color: black;
}

main > p{
    max-width: 40vw;
    font-family: var(--fonte3);
    font-size: 3.6vw;
    padding: 40px;
    text-align: left;
}

p.transparente{
    max-width: 40vw;
    font-family: var(--fonte3);
    font-size: 3.6vw;
    padding: 5px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.267);
    margin-left: 0px;
    color: white;
}

section#imagem1{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 50px;
    padding-left: 2.5vw;
}
section#imagem2{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 50px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte1);
    font-size: medium;
    padding: 10px;
}